/*--DESCRIPTION-SPECIFIC--*/
.desc .desc-row {
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
}

.desc .desc-row h1 {
  color: #4A4A4A;
  margin: 0 auto;
  margin-top: 95px;
  width: 100%;
  max-width: 385px;
}

.desc .desc-row p {
  margin-top: 45px;
  color: #9F9F9F;
  line-height: 1.5;
}

.desc .desc-row p  span{
  color: #46ad8f;
}

.desc .desc-row .desc-info {
  width: 100%;
  max-width: 490px;
  margin: 0 auto;
}

.desc .desc-row .desc-info p {
  margin-top: 40px;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  float: left;
}

/*--PORTFOLIO-MAIN-PROJECT--*/
.main-project {
  width: 100%;
  height: 1710px;
  overflow: hidden;
}

.main-project .port-main {
  width: 940px;
  margin: 0 auto;
  margin-top: 80px;
  overflow: hidden;
  padding: 0 90px;
}

.main-project .port-main .port-left {
  float: left;
  width: 293px;
  margin-right: 30px;
}

.main-project .port-main .port-left h2 {
  color: #4A4A4A;
}

.main-project .port-main .port-left p {
  margin-top: 37px;
  width: 280px;
  line-height: 1.5;
}

.main-project .port-main .port-left p span {
  color: #46AD8F;
}

.main-project .port-main .port-left .p-line,
.main-project .port-main .port-left .p-line2 {
  width: 100%;
  height: 2px;
  background: #ECEBEB;
  margin-top: 65px;
  margin-bottom: 60px;
}

.main-project .port-main .port-left .p-author {
  width: 185px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 40px;
}

.main-project .port-main .port-left .p-author .picture {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.main-project .port-main .port-left .p-author .name {
  float: left;
  margin-left: 10px;
}

.main-project .port-main .port-left .p-author .name p {
  width: auto;
  margin-top: 10px;
  color: #333333;
  font-weight: 600;
}

.main-project .port-main .port-left .p-author .name a {
  color: #46ad8f;
}

.main-project .port-main .port-left .p-line2 {
  margin-top: 40px;
}

.main-project .port-main .port-left .p-share {
  margin-top: 32px;
  height: 100px;
}

.main-project .port-main .port-left .p-share a {
  float: left;
  margin-right: 10px;
  position: relative;
}

.main-project .port-main .port-left .p-share .follow {
  position: absolute;
  top: 51px;
  left: -46px;
  z-index: 2;
  width: 130px;
  height: 46px;
  line-height: 46px;
  color: #F7F7F7;
  background: #4A4A4A;
  text-align: center;
  font-size: 12px;
  display: none;
}

.main-project .port-main .port-left .p-share a:hover .follow {
  display: block;
}

.main-project .port-main .port-left .p-share a .follow span {
  position: absolute;
  top: -14px;
  left: 57px;
  width: 0px;
  height: 0px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid #4A4A4A;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.main-project .port-main .port-right {
  float: left;
  width: 617px;
  overflow: hidden;
}

.main-project .port-main .port-right .p-img {
  width: 617px;
  height: 461px;
  margin-bottom: 42px;
}
/*--PROJECTS--*/
.projects {
  min-width: 490px;
  width: 100%;
  height: 522px;
  background: #46AD8F;
  overflow: hidden;
  text-align: center;
}

.projects .proj-left, .projects .proj-center, .projects .proj-right {
  float: left;
  overflow: hidden;
  width: 33.33%;
  height: 100%;
}

.projects .proj-left {
  background: #3D776A;
  background-image: url(../images/dylan.png);
  background-position: bottom;
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects .proj-right {
  background: #389497;
  background-image: url(../images/trooper.png);
  background-position: center;
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects .proj-left .prev-proj,
.projects .proj-right .next-proj {
  text-align: right;
  margin-right: 60px;
  margin-top: 170px;
  color: #FFF;
  font-size: 20px;
}

.projects .proj-left .prev-proj span {
  margin-right: 5px;
  vertical-align: 3px;
}

.projects .proj-left .prev-proj span img,
.projects .proj-right .next-proj span img {
  width: 20px;
}

.projects .proj-left p,
.projects .proj-right p {
  color: #FFF;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

.projects .proj-center p:first-child {
  margin-top: 170px;
  color: #FFF;
  font-size: 20px;
}

.projects .proj-center p:nth-child(2) {
  margin-top: 85px;
  color: #FFF;
}

.projects .proj-center a {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  color: #FFF;
  width: 186px;
  height: 44px;
  line-height: 44px;
  border: 2px solid #FFF;
  border-radius: 22px;
  cursor: pointer;
}

.projects .proj-right .next-proj {
  text-align: left;
  margin-right: 0;
  margin-left: 60px;
}

.projects .proj-right .next-proj span {
  margin-left: 5px;
  vertical-align: 3px;
}

/*RESPONSIVE*/
@media screen and (max-width: 1140px) {
  .main-project .port-main {
    width: 765px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-project .port-main .port-left {
    width: 275px;
    margin-right: 25px;
  }
  .main-project .port-main .port-left .p-share {
    height: 130px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-project .port-main .port-right {
    width: 450px;
  }
  .main-project .port-main .port-right .p-img {
    width: 450px;
    height: auto;
    margin-bottom: 42px;
  }
  .main-project .port-main .port-right .p-img img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .main-project {
    height: auto;
  }
  .main-project .port-main {
    width: 100%;
    padding: 0 20px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .main-project .port-main .port-left,
  .main-project .port-main .port-right {
    float: none;
  }
  .main-project .port-main .port-left {
    width: 550px;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
  }
  .main-project .port-main .port-left p {
    width: auto;
  }
  .main-project .port-main .port-left .p-line,
  .main-project .port-main .port-left .p-line2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .main-project .port-main .port-right {
    width: 100%;
  }
  .main-project .port-main .port-right .p-img {
    margin-bottom: 20px;
    height: auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-project .port-main .port-right .p-img img {
    width: 100%;
  }

  .projects {
    height: 440px;
  }
  .projects .proj-left .prev-proj {
    margin-right: 30px;
    margin-top: 120px;
    font-size: 18px;
  }
  .projects .proj-right .next-proj {
    margin-left: 30px;
    margin-top: 120px;
    font-size: 18px;
  }
  .projects .proj-left p, .projects .proj-right p {
    font-size: 32px;
  }
  .projects .proj-center p:first-child {
    margin-top: 120px;
    font-size: 18px;
  }
  .projects .proj-center a {
    margin-top: 30px;
    width: 130px;
    height: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 620px) {
  .desc {
    height: auto;
    padding-bottom: 50px;
  }
  .desc .desc-row h1 {
    margin-top: 50px;
  }
  .main-project .port-main {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .main-project .port-main .port-left {
    width: 370px;
  }
  .main-project .port-main .port-left p {
    margin-top: 25px;
  }
  .main-project .port-main .port-right .p-img {
    width: auto;
  }
  .main-project .port-main .port-right .p-img img {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .projects {
    height: 390px;
  }
  .projects .proj-left .prev-proj {
    margin-right: 10px;
    margin-top: 100px;
    font-size: 16px;
  }
  .projects .proj-right .next-proj {
    margin-left: 10px;
    margin-top: 100px;
    font-size: 16px;
  }
  .projects .proj-left p, .projects .proj-right p {
    font-size: 26px;
  }
  .projects .proj-center p:first-child {
    margin-top: 100px;
    font-size: 16px;
  }
  .projects .proj-center a {
    width: 110px;
    height: 35px;
    line-height: 35px;
  }
}

@media screen and (max-width: 510px) {
  .desc .desc-row .desc-info p {
    margin-top: 20px;
    width: 100%;
  }
}
