body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

footer {
	height: 275px;
	background-color: #4A4A4A;
	color: #FFF;
	text-align: center;
	overflow: hidden;
}

footer .footer-main {
	width: 440px;
	margin: 0 auto;
}

footer .links {
	width: 275px;
	margin: 0 auto;
	margin-top: 80px;
	display: flex;
    justify-content: center;
}

footer .links a {
	margin: 0 10px;
	color: #FFF;
}

footer .social {
	width: 165px;
	margin: 0 auto;
	margin-top: 40px;
}

footer .social a {
	margin: 0 6px;
}

footer p {
	margin-top: 40px;
}